[phases.setup]
nixPkgs = ["python312", "postgresql"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["cd wedding_gallery && python manage.py collectstatic --no-input", "cd wedding_gallery && python manage.py migrate"]

[start]
cmd = "cd wedding_gallery && gunicorn wedding_gallery.wsgi:application"
